---
import Section from "../Section.astro";

interface Props {
  summary: string;
  lang?: string;
}

const { summary, lang = 'fr' } = Astro.props as Props;
---

<Section title={lang === 'fr' ? 'A propos' : 'About'}>
	<p>
		{summary}
	</p>
</Section>
