---
import Section from "../Section.astro";
const { summary, locale } = Astro.props;
const title = locale === "fr" ? "À propos" : "About";
---

<Section title={title}>
	<p>
		{summary}
	</p>
</Section>
