@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:wght@200;400;600&display=swap");
body {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  font-family: "Inter Tight", sans-serif;
  background-color: rgb(26, 26, 26);
}

P {
  line-height: 1.2rem;
  font-size: 1rem;
  font-weight: 200;
}

a {
  font-weight: 200;
  font-size: 16px;
}

.page {
  width: 100%;
  min-width: 320px;
  background-color: white;
  border-radius: 0.5rem;
  padding: 2rem;
}

.sidenav {
  height: 100%;
  width: 320px;
  position: fixed;
  z-index: 2;
  top: 0;
  left: -320px;
  background-color: #bdbdbd;
  padding-top: 60px;
  transition: left 0.5s ease;
}

.sidenav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #efefef;
  display: block;
  transition: 0.2s;
}

.sidenav a:hover {
  color: #004c8c;
  transition: 0.5s;
}

.sidenav.active {
  left: 0;
}

.sidenav .close {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

.burger-icon span {
  display: block;
  width: 35px;
  height: 5px;
  background-color: #004c8c;
  margin: 6px 0;
}

.main {
  padding: 2rem 0;
}

.profil {
  display: flex;
  margin-bottom: 2rem;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 3rem 0 3rem 0;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
}
.profil--left {
  display: flex;
  position: absolute;
  left: 13%;
}
.profil--right {
  width: 50%;
  padding: 1rem;
  background: white;
  margin-left: 20%;
  z-index: 1;
}
.profil--name {
  font-size: 1.7rem;
  padding-bottom: 1rem;
}
.profil--title {
  font-size: 1.3rem;
  padding-bottom: 0.5rem;
}
.profil--subtitle {
  font-size: 1rem;
}
.profil--ul--web {
  padding: 1rem 0;
}
.profil--li--web:last-child {
  margin-top: 0.7rem;
}
.profil--li--cv {
  line-height: 1.7rem;
}
.profil--check-icon {
  padding-right: 1rem;
}
.profil--picture {
  width: 385px;
  border-radius: 50%;
}

.search {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  padding: 2rem;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  margin-bottom: 2rem;
}
.search--input {
  width: 70%;
  padding: 0.5rem;
  border: rgb(19, 100, 229) 0.1rem solid;
  border-radius: 0.4rem;
  font-size: 1rem;
  font-weight: 200;
  outline: none;
}
.search--reset--btn {
  width: 30%;
  padding: 0.5rem;
  border: none;
  border-radius: 0.4rem;
  font-size: 1rem;
  font-weight: 100;
  outline: none;
  background-color: rgb(19, 100, 229);
  color: white;
  cursor: pointer;
}

.count {
  display: none;
  justify-content: center;
  gap: 0.5rem;
  padding: 2rem;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  margin-bottom: 2rem;
}
.count--block {
  display: block;
}
.count--message {
  font-size: 2rem;
  font-weight: 200;
  text-align: center;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
  padding: 2rem;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  margin-bottom: 2rem;
}
.tags--btn {
  padding: 0.5rem;
  border: none;
  border-radius: 0.4rem;
  font-size: 1rem;
  outline: none;
  color: white;
  cursor: pointer;
}
.tags--checkbox {
  width: 20px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
}

.card {
  width: 300px;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2);
}
.card--header {
  color: white;
}
.card--title {
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0 0 0.7rem 0;
  padding: 0.5rem 0 0.5rem 0.5rem;
  text-transform: uppercase;
  color: rgb(133, 133, 133);
}
.card--picture > img {
  width: 300px;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}
.card--date {
  font-size: 0.8rem;
  font-weight: 200;
  padding: 1rem 0 1rem 0.5rem;
  color: black;
}
.card--content {
  padding: 0.5rem;
}
.card--techno {
  padding: 0.5rem 0;
  font-weight: 200;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}
.card--span {
  text-transform: lowercase;
  padding: 0.5rem;
  border: none;
  border-radius: 0.4rem;
  font-size: 1rem;
  outline: none;
  color: white;
}
.card--span--php {
  background-color: hwb(0 0% 100%);
}
.card--span--html {
  background-color: rgb(255, 143, 6);
}
.card--span--css {
  background-color: rgb(48, 100, 8);
}
.card--span--bootstrap5 {
  background-color: rgb(42, 46, 147);
}
.card--span--altorouter {
  background-color: rgb(16, 134, 173);
}
.card--span--plates {
  background-color: rgb(94, 16, 173);
}
.card--span--symfonyrouter {
  background-color: rgb(172, 22, 2);
}
.card--text p {
  margin: 0;
  padding: 0.5rem 0;
}
.card--footer {
  margin-top: 0.5rem;
  padding: 0.6rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.footer {
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(237, 237, 237);
  text-align: center;
}

@media only screen and (max-width: 1600px) {
  .page {
    border-radius: 0;
  }
  .profil {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .profil--left {
    position: relative;
    left: 0;
  }
  .profil--right {
    width: 90%;
    text-align: center;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .profil--ul {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }
  .profil--li--cv {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 1rem;
  }
  .profil--check-icon {
    padding-top: 3px;
  }
  .profil--picture {
    width: 250px;
    margin: 0;
  }
  .count--message {
    font-size: 1.5rem;
  }
  .card {
    max-width: 100%;
    padding: 1rem;
    height: auto;
  }
}/*# sourceMappingURL=style.css.map */