@use 'vars';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@200;400;600&display=swap');

body { 
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    font-family: 'Inter Tight', sans-serif;
    background-color: rgb(26, 26, 26);
}

P { 
    line-height: 1.2rem;
    font-size: 1rem;
    font-weight: 200;
}

a {
    font-weight: 200;
    font-size: 16px;
}

//all contents
.page{
    width: 100%;
    min-width: 320px;
    background-color: white;
    border-radius: .5rem;
    padding: 2rem;
}

//* Sidenav menu 
.sidenav {
    height: 100%;
    width: 320px;
    position: fixed;
    z-index: 2;
    top: 0;
    left: -320px;
    background-color: vars.$primaryGray;
    padding-top: 60px;
    transition: left 0.5s ease;
  }
  
  .sidenav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
// Sidenav menu links 
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: vars.$lightGray;
    display: block;
    transition:.2s;
  }
  
  .sidenav a:hover {
    color: vars.$darkBlue;
    transition: .5s;
  }
  
  // Active class change left position to 0 and display sidebar 
  .sidenav.active {
    left: 0;
  }
  
  // Close btn 
  .sidenav .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }
  
  .burger-icon span {
    display: block;
    width: 35px;
    height: 5px;
    background-color: vars.$darkBlue;
    margin: 6px 0;
  }

//main content
.main{
    //background-color: rgb(0, 0, 0);
    padding: 2rem 0;
}

//portrait
.profil{
    display: flex;
    margin-bottom: 2rem;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 3rem 0 3rem 0;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.2);
    border-radius: .5rem;

    &--left{
        display: flex;
        position: absolute;
        left: 13%;
    }

    &--right{
        width: 50%;
        padding: 1rem;
        background: white;
        margin-left: 20%;
        z-index: 1;
    }
    
    &--name{
        font-size: 1.7rem;
        padding-bottom: 1rem;
    }

    &--title{
        font-size: 1.3rem;
        padding-bottom: .5rem;
    }

    &--subtitle{
        font-size: 1rem;
    }

    &--ul--web{
        padding: 1rem 0;
    }

    &--li--web:last-child{
        margin-top: .7rem;
     }

    &--li--cv {
        line-height: 1.7rem;
    }

    &--check-icon{
        padding-right: 1rem;
    }

    &--picture{
        width: 385px;
        border-radius: 50%;
    }
}


//search bloc 
.search {

    display: flex;
    justify-content: center;
    gap: .5rem;
    padding: 2rem;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.2);
    border-radius: .5rem;
    margin-bottom: 2rem;

    &--input{
        width: 70%;
        padding: .5rem;
        border: rgb(19, 100, 229) 0.1rem solid;
        border-radius: 0.4rem;
        font-size: 1rem;
        font-weight: 200;
        outline: none;
    }

    &--reset--btn{
        width: 30%;
        padding: .5rem;
        border: none;
        border-radius: 0.4rem;
        font-size: 1rem;
        font-weight: 100;
        outline: none;
        background-color: rgb(19, 100, 229);
        color: white;
        cursor: pointer;
    }
}

//result search bloc 
.count{

    display: none;
    justify-content: center;
    gap: .5rem;
    padding: 2rem;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.2);
    border-radius: .5rem;
    margin-bottom: 2rem;

    &--block{
        display: block;
    }

        &--message{
            font-size: 2rem;
            font-weight: 200;
            text-align: center;
        }
}

//tags bloc 
.tags{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: .5rem;
    padding: 2rem;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.2);
    border-radius: .5rem;
    margin-bottom: 2rem;

    &--btn{
        padding: .5rem;
        border: none;
        border-radius: 0.4rem;
        font-size: 1rem;
        font-weight: 100;
        outline: none;
        background-color: rgb(229, 134, 19);
        color: white;
        cursor: pointer;
    }

    &--checkbox{
        width: 20px;
    }
}

//projects container
.cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}

//projec card item
.card{
    width: 300px;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.2);
      
    &--header{
        color: white;
    }

    &--title{
        font-size: 1.2rem;
        font-weight: 400;
        margin: 0 0 .7rem 0;
        padding: .5rem 0 .5rem .5rem;
        text-transform: uppercase;
        color: rgb(133, 133, 133);
    }

    &--picture > img{
        width: 300px;
        height: 250px;
        object-fit: cover;
    }

    &--date{
        font-size: .8rem;
        font-weight: 200;
        padding: 1rem 0 1rem .5rem;
        color: black;
    }

    &--content{
        padding: .5rem;
    }

    &--techno{
        padding:  .5rem 0;
        font-weight: 200;
        display: flex;
        gap: 0.5rem;
        flex-wrap: wrap;
    }

    &--span{
        background-color: green;
        padding: .5rem;
        color: white;
        border-radius: .5rem;
        font-size: .8rem;
        text-transform: lowercase;
    }

    &--span--php{
        background-color: rgb(0, 0, 0);
    }

    &--span--html{
        background-color: rgb(135, 29, 29);
    }

    &--span--css{
        background-color: rgb(75, 135, 29);
    }

    &--span--bootstrap5{
        background-color: rgb(16, 21, 173);
    }

    &--span--altorouter{
        background-color: rgb(141, 173, 16);
    }

    &--span--plates{
        background-color: rgb(173, 16, 113);
    }

    &--span--symfonyrouter{
        background-color: rgb(173, 92, 16);
    }


    &--text p{
        margin: 0;
        padding: .5rem 0;
    }

    &--footer{
        margin-top: .5rem;
        padding:.6rem ;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }
}

// footer
.footer{
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(237, 237, 237);
    text-align: center;

}


@media only screen and (max-width: 1600px) {
  
.page{
    border-radius: 0;
}

.profil{

    display: flex;
    flex-direction: column;
    align-items: center;

    &--left{
        position: relative;
        left: 0;
    }

    &--right{
        width: 90%;
        text-align: center;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    &--ul{
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
    }

    &--li--cv{
        display: flex;
        justify-content: center;
        gap: 1rem;
        padding-bottom: 1rem;
    }

    &--check-icon{
        padding-top: 3px;
    }

    &--picture{
        width: 250px;
        margin: 0;
    }
}

.count--message {
    font-size: 1.5rem;
}

.card {
    
    max-width: 100%;
    padding: 1rem;
    height: auto;
 }


}

